* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'pbold';
	src: url("http://movidagrafica.co/font/proximanova-bold-webfont.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/proximanova-bold-webfont.ttf")  format('truetype');
}

@font-face {
	font-family: 'plight';
	src: url("http://movidagrafica.co/font/proximanova-light-webfont.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/proximanova-light-webfont.ttf")  format('truetype');
}

@font-face {
	font-family: 'coro';
	src: url("http://movidagrafica.co/font/CoronetLTStd-Bold.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/CoronetLTStd-Bold.ttf")  format('truetype');
}


@font-face {
	font-family: 'aleo';
	src: url("http://movidagrafica.co/font/Aleo-LightItalic-webfont.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/Aleo-LightItalic-webfont.ttf")  format('truetype');
}


@font-face {
	font-family: 'iconos';
	src: url("http://movidagrafica.co/font/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/fontawesome-webfont.ttf")  format('truetype');
}	

@font-face {
    font-weight: 400;
    font-style:  normal;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Regular.woff2') format('woff2');
  }
  @font-face {
    font-weight: 400;
    font-style:  italic;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Italic.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 500;
    font-style:  normal;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Medium.woff2') format('woff2');
  }
  @font-face {
    font-weight: 500;
    font-style:  italic;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-MediumItalic.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 700;
    font-style:  normal;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Bold.woff2') format('woff2');
  }
  @font-face {
    font-weight: 700;
    font-style:  italic;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-BoldItalic.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 900;
    font-style:  normal;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Black.woff2') format('woff2');
  }
  @font-face {
    font-weight: 900;
    font-style:  italic;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-BlackItalic.woff2') format('woff2');
  }

html{ 
    height:100%;
}


body{	
	color:#252525;
	font-family:'plight', Arial, sans-serif;
	background:#fff;
	height:100%;
}

#videote{
    height:100%;
    position:relative;
    overflow:hidden;
    background:#000;
}
    
#videote #videomain{
    height:125%;
    display:block;
    position:absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index:1;
}