/* ================================== Estilos globales */
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'pbold';
	src: url("http://movidagrafica.co/font/proximanova-bold-webfont.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/proximanova-bold-webfont.ttf")  format('truetype');
}

@font-face {
	font-family: 'plight';
	src: url("http://movidagrafica.co/font/proximanova-light-webfont.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/proximanova-light-webfont.ttf")  format('truetype');
}

/* ============== Las fuentes no funcionan en local, ni llamándolas */
@font-face {
	font-family: 'coro';
	src: url("http://movidagrafica.co/font/CoronetLTStd-Bold.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/CoronetLTStd-Bold.ttf")  format('truetype');
}

/* @font-face {
	font-family: 'coro';
	src: "typo/CoronetLTStd-Bold.ttf"  format('truetype');
} */


@font-face {
	font-family: 'aleo';
	src: url("http://movidagrafica.co/font/Aleo-LightItalic-webfont.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/Aleo-LightItalic-webfont.ttf")  format('truetype');
}


@font-face {
	font-family: 'iconos';
	src: url("http://movidagrafica.co/font/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), 
	url("http://movidagrafica.co/font/fontawesome-webfont.ttf")  format('truetype');
}	

@font-face {
    font-weight: 400;
    font-style:  normal;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Regular.woff2') format('woff2');
  }
  @font-face {
    font-weight: 400;
    font-style:  italic;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Italic.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 500;
    font-style:  normal;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Medium.woff2') format('woff2');
  }
  @font-face {
    font-weight: 500;
    font-style:  italic;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-MediumItalic.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 700;
    font-style:  normal;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Bold.woff2') format('woff2');
  }
  @font-face {
    font-weight: 700;
    font-style:  italic;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-BoldItalic.woff2') format('woff2');
  }
  
  @font-face {
    font-weight: 900;
    font-style:  normal;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-Black.woff2') format('woff2');
  }
  @font-face {
    font-weight: 900;
    font-style:  italic;
    font-family: 'Inter-Loom';
  
    src: url('https://cdn.useloom.com/assets/fonts/inter/Inter-UI-BlackItalic.woff2') format('woff2');
  }

html{ 
    height:100%;
}


body{	
	color:#252525;
	font-family:'plight', Arial, sans-serif;
	background:#fff;
	height:100%;
}

/* ================================== Estilos S1: Header */
#videote{
    height:100%;
    position:relative;
    overflow:hidden;
    background:#000;
}
    
#videote #videomain{
    height:125%;
    display:block;
    position:absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index:1;
}

#videote a#logo{
	position:absolute;
	z-index:3;
	left:50%;
	top:70px;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
    display:inline-block;
}

#videote #slogan{
    position:absolute;
    left:50%;
    top:57%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    color:#FFF;
    text-align:center;
    z-index:3;
    width:100%;
}

#slogan .frase{ 
    font-family:'pbold';
    font-size:70px;
    text-transform:uppercase;
    display:inline-block;
    white-space:nowrap;
    position:absolute;
    width:100%;
    text-align:center;
    top:0;
    left:50%;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}

#slogan .movidagrafica{ 
    left:2500px;
}

#separador{
    clear: both;
    visibility:hidden;
}

#slogan .separaslogan{ 
    height:80px;
}

#slogan h2{
    font-family:coro;
    font-style:italic;
    font-size:40px;
}

/* ================================== Estilos S2: Agencia */
#agencia{ 
    height:100%;
    position:relative;
    background:#00b7f3;
}
    
#agencia #infoagencia{
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:95%;
    max-width:1100px;
    position:absolute;
    overflow:hidden;
}

#infoagencia h1{ 
    font-family:'sans-serif';
    font-size:60px;
    color:#fff;
    border-right:dotted 2px #fff;
    text-transform:uppercase;
    width:50%;
    float:left;
    padding:0 30px 0 0;
    box-sizing: border-box;
    text-align:right;
}

#infoagencia h1 em{ color:#092c30;}

#infoagencia #texto{ 
    width:50%;
    float:right;
    padding:0 0 0 30px;
    box-sizing: border-box;
    color:#fff;
    font-size:16px;
    line-height:1.3em;
}

#infoagencia #texto p{ margin:0 0 26px 0;}

#infoagencia #texto p:last-child{ margin-bottom:0;}

#agencia .infoagencia{ 
    position:absolute;
    bottom:20px;
    left:50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
}

.boton{ 
    background-color:#00b7f3;
    color:#FFF;
    padding:10px 15px;
    text-transform:uppercase;
    font-size:15px;
    border-radius:2px;
    border:none;
    cursor:pointer;
    box-sizing: border-box;
    display:inline-block;
}
    
.boton:hover{
    background-color:#092c30;
    color:#fff;
}

#agencia .boton{ 
    background:#fff; 
    white-space:nowrap; 
    color:#000;
}

/* *************** Estilos responsive S2: Agencia */
@media only screen and (max-width:900px) {

    #agencia{ 
        height:auto;
        padding:40px 20px 40px 20px;
    }
    
    #agencia #infoagencia{
        left:auto;
        top:auto;
        -webkit-transform:translate(0,0);
        transform:translate(0,0);
        width:100%;
        max-width:1100px;
        position:relative;
        overflow:hidden;
    }
    
    
    #infoagencia h1{ 
        font-size:40px;
        border-right:none;
        width:100%;
        float:none;
        padding:0 0 20px  0;
        text-align:left;
    }
    
    
    #infoagencia #texto{ 
        width:100%;
        float:none;
        padding:0;
        font-size:14px;
        line-height:1.3em;
        margin:0 0 40px 0;
    }
    
    #infoagencia #texto p{ margin:0 0 20px 0;}
    
    #agencia .boton{ background:#00b7f3;}
    #agencia .boton:hover{background:#FC0; color:#fff;}
    
    }
    
/* ================================== Estilos S3: Servicios */
.contenedorservicios{
    padding:40px 0 ;
    text-align:center;
    position:relative;
    background:#f2f2f2;
    overflow:hidden;
}
    
#listaservicios{ 
    padding:50px 20px;
    text-align:center;
    margin:0 auto;
    max-width:1200px;
}
    

.contenedorservicios h1, .titulo{ 
    font-family:'sans-serif';
    text-transform:uppercase;
    display:inline-block;
    border-bottom:solid 5px #00b7f3;
    font-size:50px;
    margin-bottom:20px;
    color:#092c30;
    padding-bottom:10px;
}
    
.contenedorservicios #texto{ 
    margin:0 auto;
    max-width:800px;
}
    
#listaservicios a.item{
    display:block;
    float:left;
    margin:0 2% 20px 0;
    width:23.5%;
    height:410px;
    box-sizing: border-box;
    padding:15px;
    background:#fff;
    -webkit-transition: background 0.3s linear;
    transition:background 0.3s linear;
    border-radius:4px;
}
    
#listaservicios a.item:nth-of-type(4n){ margin-right:0;}    

#listaservicios a.item:hover{
    background:#092c30;
}

#listaservicios a.item img{
    display:block;
    margin:0 auto 15px auto;
    width:100%;
    border-radius:4px 4px 0 0;
    opacity:0.8;
    -webkit-transition: opacity 0.3s linear;
    transition:opacity 0.3s linear;
}
    
#listaservicios a.item:hover img{
    opacity:1;
}
    
#interes a.item img{ width:100%;}
#listaservicios a.item #info{color: #666;}
#listaservicios a.item:hover #info{ color:#fff;}
    
#listaservicios a.item #titulo{ 
    font-family:'sans-serif'; 
    font-size:16px;
    text-transform:uppercase;
    display:inline-block;
    padding:0 0 8px 0;
    margin:0 0 10px 0;
    color:#092c30;
    border-bottom:solid 2px #00b7f3;
    -webkit-transition: all 0.5s linear;
    transition:all 0.5s linear;
}
        
#listaservicios a.item:hover #titulo{
    color:#00b7f3; 
}
    
#listaservicios a.item #resumen{      
    font-size:14px;
    margin:0 0 10px 0;
    overflow:hidden;
    -webkit-transition: all 0.5s linear;
    transition:all 0.5s linear;
}

a.item {
    text-decoration: none;
}

#listaservicios a.item.producto #itemprecio{
    font-size:12px;
    font-family:'sans-serif';
    color:#666;
}
    

#listaservicios a.item #categoria{display:none;}

/* *************** Estilos responsive S3: Servicios (2 columnas) */
@media only screen and (max-width:900px) {
    .contenedorservicios h1, .titulo{font-size:30px;}
    #listaservicios a.item{
        margin:0 2% 20px 0;
        width:49%;
        height:350px;
    }
    #listaservicios a.item:nth-of-type(2n){ margin-right:0;}
    #listaservicios a.item img{ width:75%;}
}